:root {
    --main-cl: #03A9F4;
    --sec-cl: #0a2463;
    --third-cl: #3e92cc;
    --forth-cl: #fffaff;
    --menu-back-cl: rgb(62, 146, 204, .2);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

body {
    font-family: 'Open sans', sans-serif;
    position: relative;
}

.container {
    /* width: 1170px; */
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start setting box  */
.setting-box {
    position: fixed;
    left: -200px;
    z-index: 1000;
    width: 200px;
    min-height: 100vh;
    background-color: var(--forth-cl);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    box-shadow: 2px 0px 1px 0px rgb(0, 0, 0, 0.1);

    .setting-icon {
        position: absolute;
        top: 100px;
        right: -30px;
        width: 30px;
        padding: 5px 5px 3px;
        border: 3px solid #0000001a;
        border-left: none;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        background-color: var(--forth-cl);
        cursor: pointer;
        z-index: 2;

        img {
            width: 100%;
            transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }

        img.active {
            transform: rotate(120deg);
            -webkit-transform: rotate(120deg);
            -moz-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
            -o-transform: rotate(120deg);
        }
    }

    .setting-container {
        .option-box {
            padding: 20px;
            text-align: center;
            padding: 10px;
            margin: 10px;
            background-color: #d6d6d6;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            -ms-border-radius: 1px;
            -o-border-radius: 1px;

            h4 {
                margin: 0;
                color: #666;
                font-size: 14px;
            }

            .colors-list {
                display: flex;
                justify-content: center;
                gap: 5px;
                list-style: none;
                padding: 0;
                margin: 10px 0 0;

                li {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    cursor: pointer;
                    background-color: black;
                    border: 3px solid #d6d6d6;
                }

                li.active {
                    border: 3px solid white;
                }
            }

            span {
                display: inline-block;
                background: var(--main-cl);
                color: white;
                padding: 4px 10px;
                margin: 10px 7px 0;
                font-size: 12px;
                font-weight: bold;
                width: 60px;
                border: 3px solid #d6d6d6;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                cursor: pointer;
                opacity: 0.3;
                transition: 0s;
                -webkit-transition: 0s;
                -moz-transition: 0s;
                -ms-transition: 0s;
                -o-transition: 0s;
            }

            span.active {
                opacity: 1;
            }

            span.active:hover {
                opacity: 0.9;
            }
        }

        .reset-options {
            padding: 5px 10px;
            width: 180px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -90px;
            border: none;
            background-color: #d40000;
            color: var(--forth-cl);
            border-radius: 5px;
            border: 3px solid transparent;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.setting-box.active {
    left: 0
}

/* End setting box  */
/* Start nav bullets */
.nav-bullets {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 50%;
    width: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    .bullet {
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid var(--main-cl);
        margin: 10px auto;
        cursor: pointer;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        .tooltip {
            background-color: var(--main-cl);
            width: 120px;
            padding: 6px 10px;
            position: absolute;
            right: 30px;
            top: -8px;
            text-align: center;
            cursor: default;
            pointer-events: none;
            display: none;
            box-shadow: 0px 0px 2px 0px #000;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: -19px;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-left-color: var(--main-cl);
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);

            }
        }

        &:hover .tooltip {
            display: block;
        }

        @media (max-width) {}
    }
}

/* End nav bullets */
/* Start Landing Page  */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/img_4.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;

    .overlay {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.7);
    }

    .container {
        position: relative;
        z-index: 1000;

        .header-area {
            color: var(--forth-cl);
            display: flex;
            padding: 10px;

            .logo {
                min-width: 300px;
                padding: 15px;
                font-size: 20px;
                font-weight: bold;
            }

            .links-container {
                width: 100%;
                text-align: right;

                .links {
                    list-style: none;
                    padding: 0;
                    width: 100%;

                    li {
                        text-transform: capitalize;
                        display: inline-block;
                        font-weight: bold;
                        margin-left: 15px;

                        a {
                            color: var(--forth-cl);
                            text-decoration: none;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                            -o-transition: .3s;

                            &:hover,
                            &.active {
                                color: var(--main-cl);
                                /* background-color: rgb(238, 238, 238, 0.1); */
                                opacity: 0.8;
                                border-radius: 1px;
                                -webkit-border-radius: 1px;
                                -moz-border-radius: 1px;
                                -ms-border-radius: 1px;
                                -o-border-radius: 1px;
                            }
                        }

                    }

                    @media (max-width:991px) {
                        & {
                            display: none;
                        }

                        &.open {
                            position: absolute;
                            top: 50px;
                            left: 0;
                            display: block;
                            background: var(--forth-cl);
                            width: 100%;
                            padding: 10px 5px;
                            border-radius: 6px;
                            -webkit-border-radius: 6px;
                            -moz-border-radius: 6px;
                            -ms-border-radius: 6px;
                            -o-border-radius: 6px;
                            text-align: left;

                            li {
                                display: block;
                                margin: 10px;
                                padding: 10px;
                                border-bottom: 1px solid var(--main-cl);

                                &:first-of-type {
                                    margin-top: 0;
                                }

                                a {
                                    color: var(--main-cl);
                                }
                            }
                        }
                    }
                }

                .toggle-menu {
                    margin-top: 20px;
                    width: 40px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: none;


                    &:focus {
                        outline: none;
                    }

                    @media (max-width:991px) {
                        & {
                            display: inline-block;
                        }

                        &.open::before {
                            content: '';
                            position: absolute;
                            bottom: 7px;
                            right: 35px;
                            width: 0;
                            height: 0;
                            border: 10px solid transparent;
                            border-bottom-color: var(--forth-cl);
                            pointer-events: none;
                        }
                    }

                    span {
                        display: block;
                        background-color: var(--forth-cl);
                        height: 4px;
                        margin-bottom: 3px;
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        -ms-border-radius: 6px;
                        -o-border-radius: 6px;
                    }
                }
            }
        }
    }

    .introduction-text {
        width: 90%;
        text-transform: capitalize;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        color: var(--forth-cl);
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        h1 {
            font-size: 34px;
            margin: 0 0 15px;
        }

        span {
            color: var(--main-cl)
        }

        p {
            margin: 0;
            font-size: 20px;
            line-height: 1.6;
        }
    }
}

/* End Landing Page  */
/* Start our skills */
.skills {
    background-color: #eee;
    text-align: center;
    padding: 50px 0;

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: var(--main-cl);
        margin: 0 0 50px;
    }

    .skill-box {
        display: flex;
        background-color: #fff;
        padding: 15px;
        margin-bottom: 15px;

        @media (max-width:767px) {
            & {
                display: block;
            }
        }

        .skill-name {
            font-weight: bold;
            width: 140px;
            text-align: center;
            line-height: 25px;

            @media (max-width:767px) {
                & {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }

        }

        .skill-progress {
            background-color: #e7e6e6;
            width: 100%;
            height: 25px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            position: relative;
            overflow: hidden;

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: var(--main-cl);
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
            }
        }
    }
}

/* End our skills */
/* Start Product Section */
.products {
    padding: 50px 0;
    text-align: center;

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: var(--main-cl);
        margin: 0 0 50px;
    }

    .product-box {

        img {
            width: 200px;
            height: 133.33px;
            padding: 3px;
            margin: 5px;
            background-color: var(--forth-cl);
            border: 1px solid #ccc;
            cursor: pointer;
        }
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e92cc29;
    backdrop-filter: blur(5px);
    z-index: 1001;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    height: 70%;
    z-index: 1002;
    background-color: var(--forth-cl);
    border: 1px solid #ccc;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    @media (max-width:767px) {
        & {
            height: auto;
            width: 80%;
        }
    }

    h3 {
        position: absolute;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: var(--main-cl);
        margin: 18px auto;

        @media (max-width:767px) {
            & {
                font-size: 25px;
                margin: 10px 0;
            }
        }
    }

    img:first-of-type {
        height: 100%;
        padding: 70px 10px 10px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        @media (max-width:767px) {
            & {
                width: 100%;
                height: auto;
                padding-top: 50px;
            }
        }
    }

    img:nth-of-type(2) {
        position: absolute;
        top: -25px;
        right: -25px;
        width: 50px;
        height: 50px;
        padding: 2px;
        border-radius: 50%;
        background-color: var(--main-cl);
        cursor: pointer;

        @media (max-width:767px) {
            top: -17.5px;
            right: -17.5px;
            width: 35px;
            height: 35px;
        }
    }
}

/* End Product Section */
/* Start timeline */
.timeline {
    padding: 50px 0;
    background-color: #eee;

    .timeline-content {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            background-color: var(--main-cl);
        }

        .year {
            margin: 20px auto;
            width: 50px;
            padding: 2px 5px;
            color: var(--forth-cl);
            background-color: var(--main-cl);
            position: relative;
            z-index: 2;
            text-align: center;
            font-weight: bold;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }

        .right,
        .left {
            width: calc(50% - 25px);
            margin-bottom: 40px;
            position: relative;

            @media (max-width:768px) {
                & {
                    width: 100%;
                }
            }

            &::before {
                content: '';
                width: 14px;
                height: 14px;
                background-color: var(--forth-cl);
                border: 3px solid var(--main-cl);
                position: absolute;
                top: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            @media (max-width:768px) {
                &::before {
                    display: none;
                }
            }

            & .content::before {
                content: '';
                position: absolute;
                top: 20px;
                right: -20px;
                width: 0;
                height: 0;
                border: 10px solid transparent;
            }

            @media (max-width:768px) {
                & .content::before {
                    display: none;
                }
            }
        }

        .right {
            float: right;

            &::before {
                left: -35px;
            }

            & .content::before {
                left: -20px;
                border-right-color: var(--forth-cl);
            }
        }

        .left {
            float: left;

            &::before {
                right: -35px;
            }

            & .content::before {
                right: -20px;
                border-left-color: var(--forth-cl);
            }
        }

        .content {
            padding: 20px;
            background-color: var(--forth-cl);

            h3 {
                font-weight: bold;
                color: var(--main-cl);
                margin: 0 0 10px;
            }

            p {
                color: #666;
                margin: 0;
                line-height: 1.6;
            }
        }

    }
}

.clearfix {
    clear: both;
}

/* End timeline */
/* Start features */
.features {
    padding: 80px 0;
    overflow: hidden;

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: var(--main-cl);
        margin: 0 0 60px;
        text-align: center;
    }

    .feat-box {
        width: calc(100% / 3);
        float: left;
        text-align: center;
        margin-bottom: 40px;

        @media (max-width:991px) {
            & {
                width: calc(100% / 2);
            }
        }

        @media (max-width:767px) {
            & {
                width: 100%;
            }

            &:not(:last-of-type) {
                margin-bottom: 100px;
            }
        }


        img {
            width: 250px;
            height: 180px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        h4 {
            font-size: 22px;
            margin: 15px 0 40px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 40px;
                width: 40px;
                height: 4px;
                margin-left: -20px;
                background: var(--main-cl);
            }
        }

        p {
            width: 80%;
            margin: 0 auto;
            color: #575757;
        }
    }

}

/* End features */
/* Start Testimonials */
.testimonials {
    padding: 80px 0;
    position: relative;
    overflow: hidden;

    & div {
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--main-cl);
        width: 50%;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333;
        width: 50%;
        height: 100%
    }

    h2 {
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin: 0 0 30px;
        text-align: left;
        position: relative;
        z-index: 2;

        @media (max-width:767px) {
            & {
                text-align: center;
            }
        }

    }

    .ts-box {
        position: relative;
        float: left;
        width: calc(98% / 3);
        padding: 20px;
        background-color: var(--forth-cl);

        &:not(:last-of-type) {
            margin-right: 1%;
        }

        @media (max-width:767px) {
            & {
                text-align: center;
                width: auto;
                height: calc(98% / 3);
            }

            &:not(:last-of-type) {
                margin: 0;
                margin-bottom: 20px;
            }
        }

        &>p {
            margin: 0 0 20px;
            font-size: 18px;
            font-style: italic;
            line-height: 1.5;
            color: #575757;
        }

        .person-info {
            overflow: hidden;

            img {
                float: left;
                margin-right: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                @media (max-width:767px) {
                    & {
                        float: none;
                        margin-right: 0;
                    }
                }
            }

            h4 {
                margin: 14px 0 20px;
            }

            p {
                margin: 0;
                color: #575757;
            }
        }
    }
}

/* End Testimonials */
/* Start about us  */
.about-us {
    padding: 50px 0;
    display: flex;
    gap: 20px;

    @media (max-width:767px) {
        & {
            display: block;
            text-align: center;
        }
    }

    & div {
        padding: 25px;
    }

    .info-box {
        flex: 1;
        padding: 30px;

        @media (max-width:767px) {
            & {
                padding: 0;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 30px;
            color: var(--main-cl);
            margin-bottom: 15px;
        }

        p {
            line-height: 1.8;
            color: #767676;
            margin: 0;
        }
    }

    .img-box {
        flex: 1;
        text-align: center;

        img {
            width: 70%;
        }
    }
}

/* End about us  */
/* Start Contact Us  */
.contact-us {
    background-image: url(../imgs/contact.jpg);
    background-size: cover;
    padding: 80px 0;
    position: relative;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255 255 255 / 60%);
    }

    .container {
        position: relative;

        h2 {
            font-weight: bold;
            font-size: 30px;
            color: var(--main-cl);
            margin: 0 0 60px;
            text-align: center;
        }

        form {
            overflow: hidden;
            max-width: 800px;
            margin: auto;

            .left {
                padding: 1px;
                float: left;
                width: 49%;
            }

            .right {
                padding: 1px;
                float: right;
                width: 49%;
            }

            @media (max-width:767px) {

                .left,
                .right {
                    float: none;
                    width: 100%;
                }
            }

            input:not([type='submit']),
            textarea {
                display: block;
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                background-color: rgb(218, 218, 218, .7);
                transition: none;
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
            }

            input:not([type='submit']):focus,
            textarea:focus {
                outline: 1px solid var(--main-cl);
            }

            input {
                height: 40px;
            }

            textarea {
                height: 150px;
            }

            input[type='submit'] {
                padding: 10px;
                width: 100%;
                border-color: transparent;
                background-color: var(--main-cl);
                color: var(--forth-cl);
                cursor: pointer;
            }

            input:not([type='submit']):focus::-webkit-input-placeholder,
            textarea:focus::-webkit-input-placeholder,
            input:not([type='submit']):focus::placeholder,
            textarea:focus::placeholder {
                opacity: 0;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
            }
        }
    }
}

/* End Contact Us  */
/* Start Go Top Button*/
.go-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--main-cl);
    border: none;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    z-index: 100;

    img {
        width: 15px;
        height: 15px;
        margin: 0 auto;
    }
}

/* End Go Top Button*/
/* Start Footer */
footer {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #282828;
    color: var(--forth-cl);
    text-align: center;

    span {
        color: var(--main-cl);
    }
}

/* End Footer */
/* Start Grid System */

/* Small Screen*/
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

/* Mediam Screen */
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

/* Large Screen */
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

/* X-Large Screen */
@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

/* End Grid System */